//Go select your laundry not my content
body {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@mixin defaultSpacing() {
  margin: 0;
  padding: 0;
}
// ========lets create a clamp_hybrid_mixin_function=======
@mixin hybrClamp($min,$norm,$max) {
  font-size: clamp($min,get_vw($norm),$max)
}
//set bg and text color (like function, but doesn't return anything)
@mixin setBackgroundColor($color) {
  background-color: $color;
  color: setItemColor($color);
}
//No-scrollBar--
@mixin noScrollBar($height,$width) {
  &::-webkit-scrollbar {
    height: $height;
    width: $width;
  }
  &::-webkit-scrollbar-thumb {
    height: $height;
    width: $width;
  }
  &::-webkit-scrollbar-track {
    height: $height;
    width: $width;
  }
}
//cursor properties(circle properties with fill color)
@mixin cursorProps ($size,$color) {
  position: fixed;
  height: $size;
  width: $size;
  border-radius: 50%;
  @include setBackgroundColor($color);
  pointer-events: none;
  // z-index: 99;
}
// Virtical Lines
@mixin vl ($distance,$position) {
  border-left: 1px solid setItemColor($grey);
  position: $position;
  height: 100%;
  left: $distance;
  opacity: 20%
}
// Circle
@mixin circle($size,$color) {
  height: $size;
  width: $size;
  border-radius: 50%;
  border: 1px solid $color;
  background-color: transparent;
}

//===== Grid alignment mixin function for mouse scroll and audio controll =====
@mixin selfGridPlacement($justify, $align) {
  display: grid;
  justify-self: $justify;
  align-self: $align;
}

//==== PAGE TITLES on SECTIONS ======
@mixin sectionTitle($color,$top) {
  position: absolute;
  font-size: $big;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .3px $color;
  z-index: -1;
  margin-top: $top
}


//=== functions Used For The Teams Section ========
@mixin underline($width,$offset) {
  width: $width;
  margin-left: $offset;
}
@mixin paragraph($color, $alignment, $top, $right) {
  color: $color;
  text-align: $alignment;
  margin-top: $top;
  margin-right: $right;
}
@mixin teamTitlePosition() {
  text-align: right;
  margin-right: 4em;
}
