//Go select your laundry not my content
body {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
//Set text color based on bgcolor
@function setItemColor ($color){
  @if(lightness($color) > 50) {
    @return $black;
  } @else {
    @return darken(#fff,12%);
  }
}

//set bg and text color (like function, but doesn't return anything)
@mixin setBackgroundColor($color) {
  background-color: $color;
  color: setItemColor($color);
}
//No-scrollBar--
@mixin noScrollBar($height,$width) {
  &::-webkit-scrollbar {
    height: $height;
    width: $width;
  }
  &::-webkit-scrollbar-thumb {
    height: $height;
    width: $width;
  }
  &::-webkit-scrollbar-track {
    height: $height;
    width: $width;
  }
}
//cursor properties(circle properties with fill color)
@mixin cursorProps ($size,$color) {
  height: $size;
  width: $size;
  // border: solid $color;
  @include setBackgroundColor($color);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
}
