@import "config"
@import "function"

$black: #1d1d1d
$grey: #dedede
$blue: #1c2331
$darkBlue: #10161F
$red: #dc3545

$primFontStack: Segoe UI Light, system-ui, Tahoma, sans-serif
$secFontStack: PMingLiU-ExtB, MingLiU_HKSCS-ExtB, Garamond

// fONT-SIZES,DISTANCE,OFFSETS, Spacings
$big: 17.5rem
$title : get_vw(5)
$subtitle: 2.813rem
$simpleText: 1.125rem
//offsetsFrom ==>
$offsetFromBottom: 3em
$offsetFromTop: 5em



*
  cursor: none
h1
  font: 100% $primFontStack
  font-size: $title
h2
  font-size: $subtitle
a, a:hover, a:visited
  text-decoration: none
  // cursor: none
p
  color: $grey
  font-size: $simpleText

::-webkit-scrollbar
  display: none

body
  @include noScrollBar(0,0)
  font: 100% $secFontStack
  overflow-x: hidden
  // background: url("../img/canvas.jpg")
  background-color: $grey
  font-size: $simpleText
  cursor: none
  @include defaultSpacing()


.cursor
  @include cursorProps(5px,$red)
  z-index: 3
  transition-duration: 180ms
  transition-timing-function: ease-out

.cursor2
  @include cursorProps(30px,transparent)
  border: 1.5px solid
  color: white
  transition-duration: 500ms
  transition-timing-function: ease-out
  z-index: 2

.logo img
  max-width: 2.25vw
  margin: -1vh 0 0 2vh
.logo span
  color: white
  font-family: Segoe UI
  font-size: $simpleText
  margin-left: 3px
  line-height: 2em

.hamburger_wrapper
  margin-right: 2vw
  .hamburger_icon
    width: 28px
    height: 2px
    background-color: darken($grey, 20%)
    margin: 6px
  .top_bun
    width: 20px
  .patty
    width: 24px

.hamburger_wrapper:hover
  .top_bun
    width: 28px
  .bottom_bun
    width: 20px
  .hamburger_icon
    background-color: $grey

main
  height: 100vh
  background: url("../img/cover.jpg")
  background-size: cover
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.40)

menu_toggle_icon
  color: $grey
  height: 2em

.welcomeGridContainer
  display: grid
  color: white
  margin-top: $offsetFromTop
  grid-template-columns: 1fr 2fr 1fr
  #preFace
    align-self: center
    grid-column: 2
    h1
      // line-height: 1.0em ============================
    h3
      font-size: $title
      line-height: 1.2em


.scrollDownWrapper
  display: flex
  flex-direction: row
  margin-top: -3em
  padding: 0 2vw
  #scrollDown_animators .scrollDownIcon
    @include vl(0,static)
    border-color: $red
    height: 7.5em
    opacity: 80%
    margin-left: .9em
  & img
    max-width: 7%
    margin-top: 1.5em
  #audioController
    display: flex
    flex-direction: column
    align-items: center
    margin-top: calc(1.5em + 7.5em + 1px)
    .audioCircle
      @include circle(30px,white)
    p
      font-size: .9rem
      // visibility: hidden

.vl-1
  @include vl(20%,fixed)
.vl-md
  @include vl(50%,absolute)
.vl-3
  @include vl(80%,fixed)

#excerpt
  @include setBackgroundColor($black)
  padding: 60vh 0
  .container > div
    padding: 40vh 0
    display: grid
    grid-template-columns: 1.5fr 1fr
    grid-column-gap: 5em
    img
      max-width: 100%
    & > div
      margin-top: -5em
      h1
        margin-bottom: 1em
  & .item2 p, .item3 p
    margin-left: 1em

// #canvas
  width: 100%
  height: 300vh
  repeat: no-repeat
  background: url("../img/canvas.jpg")

// OuterWrapper
.team_outer_wrapper
  width: 100vh
  height: 100vw
  transform: rotate(-90deg) translateX(-100vh)
  transform-origin: top left
  overflow-y: scroll
  margin-bottom: -100vh

// ( === inner_wrapper) =====
#team_inner_wrapper
  display: flex
  flex-direction: row
  width: 300vw
  transform: rotate(90deg) translateY(-100vh)
  transform-origin: top left
  h3
    @include sectionTitle($black,1.3em)
    margin-left: -.3em
  img
    max-width: 100%
    height: auto
  //(teamMate === slide)
  & .team
    width: 100vw
    height: 100vh
    align-content: center
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 0 20vh
  & .Mate section
    margin-top: -5em
    // h1 & h2
    @include teamTitlePosition()
    hr
      @include underline(18em,7em)
    p
      @include paragraph($black, left, 6em, 5em)
  //( === slide2)
  & .Mate2
    margin-top: 2em
    img
      max-width: 70%
      height: auto
    section
      margin-top: -4em
    // h1 & h2
    @include teamTitlePosition()
    hr
      @include underline(20em,5em)
    p
      @include paragraph($black, left, 7em, 6em)
  //( === slide3 )
  & .Mate3
    margin-top: 2em
    section
      margin-top: -5em
      // h1 & h2
      @include teamTitlePosition()
      hr
        @include underline(20em,5em)
      p
        @include paragraph($black, left, 6em, 5em)



// .outerWrapper
  width: 100vh
  height: 100vw
  transform: rotate(-90deg) translateX(-100vh)
  transform-origin: top left
  overflow-y: hidden
  position: absolute
  Z-index: -999
  .wrapper
    // transform: rotate(90deg) translateY(-100vh)
    transform-origin: top left
    .team
      width: 100vw
      height: 100vh
    .one
      background: lighten($black,35%)
    .two
      background: lighten($red,20%)
    .three
      background: lighten($blue,35%)


#aboutUs
  height: 100vh
  position: relative
  h3
    @include sectionTitle($black,1em)
  .text-left
    padding: 15vh 15vh 0 15vh
    color: $black

footer
  @include setBackgroundColor($blue)
  justify-content: center
  text-align: center
  height: 100vh
  h1
    padding-top: 0.5em
    margin-bottom: 1em
  #socials > ul li a
    @include circle(45px,$grey)
    display: block
    padding: 2px
    margin: 2em .7em 2em .7em
    background: linear-gradient(0deg,#9e9e9e,#fff)
    box-shadow: 0 15px 18px rgba(0,0,0,0.4)
    transition: .5s
    .fab
      @include circle(100%,none)
      background: linear-gradient(0deg,#ffff,#9e9e9e)
      line-height: 40px
      transition: .5s
      color: $black
      font-size: $simpleText
    &:hover
      box-shadow: 0 2px 5px rgba(0,0,0.3)
  ins
    font-family: Segoe UI
    font-size: 12.5px
    text-decoration: none
    background-color: $darkBlue
    padding: 0.5% 13%
    border-radius: 25px
    a
      color: $red
      &:hover
        color: darken($red,10%)
  & > ul li
      padding: 5px

// <<<========================  MEDIA QUERIES  =========================>>>
/* Smartphones (portrait and landscape) ----------- */
/* Styles */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  body
    min-width: 320px
    overflow-X: hidden
  .vl-md, .cursor, .cursor2, #scrollDown_animators
    visibility: hidden

  #excerpt
    padding: 80vh 0
    .container > div
      display: flex
      flex-direction: column
    .item3 h1
      margin: -8vh 0 0 2vw

  // $simpleText: 2vw



/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px)
/* Styles */


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px)
/* Styles */


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
/* Styles */


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
/* Styles */


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
/* Styles */

/********** iPad 3 **********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2)
/* Styles */


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)
/* Styles */

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px)
/* Styles */


/* Large screens ----------- */
@media only screen  and (min-width : 1824px)
/* Styles */


/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2)
/* Styles */


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)
/* Styles */


/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)
/* Styles */


@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)
/* Styles */


/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)
/* Styles */


@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)
/* Styles */


/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)
/* Styles */


@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)
/* Styles */


/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)
/* Styles */


@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3)
/* Styles */


/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)
/* Styles */


@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3)
/* Styles */


/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)
/* Styles */


@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)
/* Styles */


/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)
/* Styles */


@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3)
/* Styles */


/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)
/* Styles */


@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3)
/* Styles */
