$black: #1d1d1d
$grey: #dedede
$blue: #1c2331
$red: #dc3545

$primFontStack: Segoe UI Light, system-ui, Tahoma, sans-serif
$secFontStack: PMingLiU-ExtB, MingLiU_HKSCS-ExtB, Garamond

body
  font-family: $secFontStack
  overflow-x: auto
  background-color: $grey
  font-size: 18px
  color: $black


h1
  font-family: $primFontStack
  font-size: 100

h2
  font-size: 55
p

a, a:hover, a:visited
  text-decoration: none

footer
  justify-content: center
  text-align: center
  background-color: $blue
  color: $grey
  height: 100%
  h1
    padding-top: 0.5em

  ins
    text-decoration: none
